body {
    font-size: 18px;
    font-weight: 500;
    overflow: auto;
    background-color: #f3eeae;
}

.main__container {
    max-width: 1000px;
    padding: 15px;

}

.section-title {
    cursor: pointer;
    border: 1px solid black;
}

.section-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
    background-color: #d5cb9c;
    padding-left: 10px;
}

.section-content.active {
    display: block;
    max-height: 100%;
}

.attribute p {
    color: blue
}

code {
    color: rgb(13, 81, 13)
}

span {
    color: rgb(99, 20, 184);
    font-weight: 700;
}

.blue {
    color: blue;
}

.cyan {
    color: rgb(11, 96, 112);
}