.main__container {
    max-width: 800px;
    overflow: hidden;
}
.section-title {
    cursor: pointer;
    border: 1px solid black;
}
.section-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
    background-color: #efe5b9;
}

.section-content.active{
    display: block;
    max-height: 100%;
}
.attribute p {
    color:blue
}
code {
    color: green
}